<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sinatra premier</title>
  </head>
  <body>
    <h1>First Page!</h1>
    <p>Ohhhh yeaaah !!!</p>
  </body>
</html>